.home-page .tech-stack-section {
  text-align: center;
  padding: 60px 20px;
}

.tech-stack-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tech-stack-section li {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tech-stack-section li img {
  width: 80px;
  height: 80px;
}

.tech-stack-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0;
}

.tech-stack-section .title {
  margin-bottom: 15px;
}

.tech-stack-section p {
  margin-bottom: 100px;
}

.stack-page .tech-stack-section {
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  .tech-stack-section li {
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 768px) {
  .tech-stack-section li {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 480px) {
  .tech-stack-section li {
    width: calc(100% / 2);
  }
}